* {
    text-align: center;
}

body {
    background-image: url('../images/darkness/darkness.png');   
}

.header {
    background: gray;
    height: 60px;
}

#name {
    font-size: 30px;
    float: left;
    line-height: 60px;
    position: absolute;
    top: 0px;
    left: 280px;
}

#about {
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    top: 3px;
    right: 400px;
}

#portfolio {
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    top: 3px;
    right: 300px;
}

#contact {
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    top: 3px;
    right: 205px;
}

.container-01 {
    width: 960px;
    background: gray;
}

#Profile_Pic {
    float: left;
    position: absolute;
    left: 275px;
}

p {
}
